In [1]:
a=["Apple",12,15.8,True]
a

['Apple', 12, 15.8, True]

In [2]:
l1=[12,22,33,44]
l1

[12, 22, 33, 44]

In [3]:
l2=["Joy","Narasimha","Nikanksha"]
l2

['Joy', 'Narasimha', 'Nikanksha']

In [4]:
type(l2)

list

In [5]:
l3=[]
l3

[]

In [6]:
l2[0] # For accessing elements of a list

'Joy'

In [7]:
marks = [10,23,41,75]
i=-1
while i>= -4:
    print(marks[i])
    i=i -1

75
41
23
10

In [8]:
marks = [10,23,41,75]
i=0
while i < 4:
    print(marks[i],end="\t")
    i=i +1

10	23	41	75

In [9]:
marks * 2

[10, 23, 41, 75, 10, 23, 41, 75]

In [10]:
marks + l2

[10, 23, 41, 75, 'Joy', 'Narasimha', 'Nikanksha']

In [11]:
list1 = ["Physics","Chemistry",45,40.2]
list1

['Physics', 'Chemistry', 45, 40.2]

In [12]:
list2=[1,2,3,4,5,6,7]
list2

[1, 2, 3, 4, 5, 6, 7]

In [13]:
print("list1[0]: ",list1[0])

list1[0]:  Physics

In [14]:
print("list2[1:5]: ",list2[1:5])

list2[1:5]:  [2, 3, 4, 5]

In [15]:
list=['abcd',789,2.23,'John',70.2]
list

['abcd', 789, 2.23, 'John', 70.2]

In [16]:
tinylist=[123,'Joy']
tinylist

[123, 'Joy']

In [17]:
list[1:3]  #Prints elements starting from 2nd till 3rd element

[789, 2.23]

In [18]:
list[2:] #Prints elements starting from 3rd element

[2.23, 'John', 70.2]

In [19]:
list[:3] #Prints elements feom beginning till 3rd element

['abcd', 789, 2.23]

In [20]:
list[1:-1] #Prints all elements except the first and last

[789, 2.23, 'John']

In [21]:
tinylist*2 #Prints list 2 times

[123, 'Joy', 123, 'Joy']

In [22]:
list + tinylist #Concatenated lists

['abcd', 789, 2.23, 'John', 70.2, 123, 'Joy']

In [23]:
#List methods 
#Updating and Deleting from Lists
list[0]=111
list

[111, 789, 2.23, 'John', 70.2]

In [24]:
list[1:3]=['Sam',2000,300.89] #In this code 789,2.23 is replaced with sam,2000,300.89 but John is still there bec [1:3] it exclues 3rd index
list  #If we want to replace John as well then we should use [1:4] then it will replace John.

[111, 'Sam', 2000, 300.89, 'John', 70.2]

In [25]:
list[1:3]=[] #Here it is replacing elements from index 1 and 2 with blank. Typically it has removed those elements
list

[111, 300.89, 'John', 70.2]

In [26]:
list3=list + tinylist

In [27]:
list3

[111, 300.89, 'John', 70.2, 123, 'Joy']

In [28]:
len(list3)

6

In [29]:
list3.append("Nikanksha") #It adds the element Nikanksha at the end of the list and it can add only one element at a time
list3

[111, 300.89, 'John', 70.2, 123, 'Joy', 'Nikanksha']

In [30]:
list3.append([1,2,3]) #Here it doesnt throw error because the element is a list which is one item
list3

[111, 300.89, 'John', 70.2, 123, 'Joy', 'Nikanksha', [1, 2, 3]]

In [31]:
list3.append([1,2,3]) #Here it doesnt throw error because the element is a list which is one item
list3

[111, 300.89, 'John', 70.2, 123, 'Joy', 'Nikanksha', [1, 2, 3], [1, 2, 3]]

In [32]:
# list3.append(1,2,3) #It will throw an error because there are 3 elements but list allows only one element at a time
# list3

In [33]:
list3[7][1] #Prints the 9th index element with the 1st index of 9th element where 9th element is a list

2

In [34]:
list3.extend([1,2,3]) #Extend will help to add multiple items where as append will help to add only  one item into the list
list3

[111,
 300.89,
 'John',
 70.2,
 123,
 'Joy',
 'Nikanksha',
 [1, 2, 3],
 [1, 2, 3],
 1,
 2,
 3]

In [35]:
list3.insert(1,"New") #It will insert the element at the index 1 by moving the exisitng element to the next index
list3

[111,
 'New',
 300.89,
 'John',
 70.2,
 123,
 'Joy',
 'Nikanksha',
 [1, 2, 3],
 [1, 2, 3],
 1,
 2,
 3]

In [36]:
list3.insert(1,"Old")
list3

[111,
 'Old',
 'New',
 300.89,
 'John',
 70.2,
 123,
 'Joy',
 'Nikanksha',
 [1, 2, 3],
 [1, 2, 3],
 1,
 2,
 3]

In [37]:
list3.remove(3) #It removes the first occurence of 3
list3

[111,
 'Old',
 'New',
 300.89,
 'John',
 70.2,
 123,
 'Joy',
 'Nikanksha',
 [1, 2, 3],
 [1, 2, 3],
 1,
 2]

In [38]:
list3.count([1,2,3]) #Counts the frequencies of element

2

In [39]:
list3.pop() #It removes the last element of list
list3

[111,
 'Old',
 'New',
 300.89,
 'John',
 70.2,
 123,
 'Joy',
 'Nikanksha',
 [1, 2, 3],
 [1, 2, 3],
 1]

In [42]:
list3.index('New')

2

In [45]:
list3.reverse()

In [46]:
print(list3)

[1, [1, 2, 3], [1, 2, 3], 'Nikanksha', 'Joy', 123, 70.2, 'John', 300.89, 'New', 'Old', 111]

In [48]:
# list3.sort() #sort doesnt work here bec this list is not of a homogeneous data type
# print(list3)

In [ ]:
list4=[1,5,2,7,6,9] #Sorts in the ascending order
list4.sort()

In [50]:
print(list4)

[1, 2, 5, 6, 7, 9]

In [ ]:
list4.sort(reverse=True) #Sorts in the reverse order
print(list4)

[9, 7, 6, 5, 2, 1]

In [3]:
list=[num for num in range(1,41) if num%4==0]
list

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [6]:
divisible_by_4=[]
for num in range(1,41):
    if num % 4==0:
        divisible_by_4.append(num)
print(divisible_by_4)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]