In [1]:
for i in range(10):
    print("Akshay")

Akshay
Akshay
Akshay
Akshay
Akshay
Akshay
Akshay
Akshay
Akshay
Akshay

In [2]:
for i in range(10):
    print(i,"Akshay")

0 Akshay
1 Akshay
2 Akshay
3 Akshay
4 Akshay
5 Akshay
6 Akshay
7 Akshay
8 Akshay
9 Akshay

In [3]:
for i in range(2,10):
    print(i,"Akshay") #Skips 0,1 till 9.

2 Akshay
3 Akshay
4 Akshay
5 Akshay
6 Akshay
7 Akshay
8 Akshay
9 Akshay

In [4]:
for i in range(2,10,2): #starts, stop, step
    print(i,"Akshay") #prints even values

2 Akshay
4 Akshay
6 Akshay
8 Akshay

In [5]:
a="India"
for k in a:
    print(k)

I
n
d
i
a

In [6]:
a="India"
for k in range(len(a)):
    print(k)

0
1
2
3
4

In [7]:
a="India"
for k in range(len(a)):
    print(a[k])

I
n
d
i
a

In [8]:
a="India"
for k in range(len(a)):
    print(a)

India
India
India
India
India

In [9]:
fruits=['apple','banana','cherry']
for i in fruits:
    print(i)

apple
banana
cherry

In [10]:
fruits=['apple','banana','cherry']
for i in range(len(fruits)):
    print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [11]:
fruits=['apple','banana','cherry']
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry

In [12]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
for i in range(1,11,3):
    if i==7:
        break
    print(i)

1
4

In [14]:
for i in range(20):
    if i==10:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(20):
    if i==10:
        continue
    print(i) #if the number is 10 then it skips 10 and prints all other values

0
1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19

In [16]:
a=33
b=200
if b>a:
    pass # it checks the condtion but no action can be taken

In [17]:
a=200
b=33
if b>a:
    pass # it checks the condtion but no action can be taken
else:
    print("b is less than a")

b is less than a

In [18]:
for i in range(1,11,3):
    if i==5:
        break
    print(i)

1
4
7
10

In [19]:
for i in ('apple'):
    if i=='l':
        break
    print(i)

a
p
p

In [20]:
for i in ('apple'):
    if i=='l':
        continue
    print(i)

a
p
p
e

In [21]:
#printing multiplication tables of 1 to 10 using nested for loop:
for i in range(1,11):
    for j in range(1,11):
        print(i*j, end='\t')
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [22]:
# While loop # When we have no idea how many times the to iterate then we use while loop
i=0
while(i<=10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [23]:
for i in range(5):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [24]:
for i in range(5):
    for j in range(5-i):
        print("*", end=" ")
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [25]:
for i in range(5):
    print(" " * (5 - i - 1), end="")
    for j in range(i + 1):
        print("* ", end="")
    print(' ')

    *
   * *
  * * *
 * * * *
* * * * *

In [26]:
n=5
for i in range(n, 0, -1):  # Reverse loop
    print(" " * (n - i), end="")
    print("* " * i)

* * * * *
 * * * *
  * * *
   * *
    *

In [27]:
for i in range(3):
    for j in range(3):
        print("*",end=" ")
    print(" ")

* * *
* * *
* * *

In [28]:
for i in range(3):
    for j in range(5):
        if(i==0 or i==2 or j==0 or j==4):
            print("*",end=' ')
        else:
            print(" ",end=' ')    
    print(" ")

* * * * *
*       *
* * * * *

In [29]:
# Nested while loops
i=1
while i<=10:
    j=1
    while j<=10:
        print(i*j,end="\t")
        j+=1
    i+=1
    print("\n")

1	2	3	4	5	6	7	8	9	10

2	4	6	8	10	12	14	16	18	20

3	6	9	12	15	18	21	24	27	30

4	8	12	16	20	24	28	32	36	40

5	10	15	20	25	30	35	40	45	50

6	12	18	24	30	36	42	48	54	60

7	14	21	28	35	42	49	56	63	70

8	16	24	32	40	48	56	64	72	80

9	18	27	36	45	54	63	72	81	90

10	20	30	40	50	60	70	80	90	100

In [31]:
for i in range(5):
    print(" " * (5 - i - 1) + "*" * (2 * i + 1))

for i in range(5-1,0,-1):
    print(" " * (5 - i) + "*" * (2 * i -1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [32]:
n = 5
for i in range(2 * n - 1):
    spaces = abs(n - i - 1)
    stars = 2 * (n - spaces) - 1
    print(" " * spaces + "*" * stars)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [3]:
for i in range(5):
    for j in range(5-i-1):
        print(" ", end="")
    for k in range(i+1):
        print("*", end=" ")
    print()
for i in range(5):
    for j in range(i):
        print(" ",end="")
    for k in range(5-i):
        print("*", end=" ")
    print( )

    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *