### Arithematic Operator

In [31]:
print(2+3*10)

32

In [32]:
print(10%3) # Gives the reminder

1

In [33]:
print(10//3) # Integer Division

3

In [34]:
print(10/3) # Float Division

3.3333333333333335

In [35]:
print(10**3) #Power i.e., 10 * 10 * 10

1000

In [36]:
print(5**8+2) # Multiples of 5. ie.e 8 times

390627

### comparison operator

In [37]:
print(3>2)

True

In [38]:
print(3<2)

False

In [39]:
print(2<=10)

True

In [40]:
print(2==3)

False

In [41]:
print(3!=2)

True

### Logical Operator

In [42]:
a=10
b=30
c=5
if(a>=b and b>=c):
    print('true')
else:
    print('false')

false

In [43]:
a=10
b=30
c=5
if(a>=b or b>=c):
    print('true')
else:
    print('false')

true

In [44]:
print(not (a>=b))

True

### assignment operator

In [45]:
a,b,c=10,20,30
print(a)
print(b)
print(c)

10
20
30

In [46]:
a=a+2
a

12

In [47]:
a+=2
print(a)

14

In [48]:
id(a)

140708218747736

In [49]:
a+=3
a

17

In [50]:
id(a)

140708218747832

In [51]:
b=5
b

5

In [52]:
b*=2
b

10

In [53]:
b-=1
b

9

In [54]:
b/=2
b

4.5

### Membership operator

In [55]:
'Amazon'
'a' in 'Amazon'

True

In [62]:
'M' in 'AMazon'

True

In [60]:
'M' not in 'AMazon'

False

In [58]:
a=10
A=20
a is A

False

In [59]:
a is not A

True