In [ ]:
a='A word1000'
print(a)
type(a)

In [ ]:
a='''A word1000 \n
another word'''
a

In [ ]:
b='A day in Lakshadweep'
b[0]

In [ ]:
b[-1]

In [ ]:
b[0]=a

In [ ]:
name='Anil'
name[0:2]

In [ ]:
name[0:3]

In [ ]:
b[9:15]

In [ ]:
name[1:]

In [ ]:
name[-1]

In [ ]:
name[:-1]

In [ ]:
name[-4:-1]

In [ ]:
len(name)

In [ ]:
name[::-1]

In [ ]:
name[-1:-4:-1]

In [ ]:
name[-1:-5:-1]

In [ ]:
name[::]

In [ ]:
a='Pyt'
b='hon'
a+b

In [ ]:
a*2

In [ ]:
a='111'
a*3

In [ ]:
eval('111*3')

In [2]:
a=int(input('Enter a number>3'))
print("a=",a)

a= 1

In [3]:
place='Delhi'
place.replace('D','d')

'delhi'

In [4]:
place1=place.replace('D','d')
place1

'delhi'

In [9]:
occpn='Tourist Template Manager'
occpn.replace('T','t',1)

'tourist Template Manager'

In [10]:
s='MMMMMMMM'
s.replace('M','O',3)

'OOOMMMMM'

In [11]:
occpn

'Tourist Template Manager'

In [12]:
occpn.find('a')

13

In [13]:
occpn.find('a',14)

18

In [14]:
s.find('M',3,5)

3

In [15]:
withspace='My name'
withspace.find('n')

3

In [18]:
sa='MnMnMtM'
s.find('M',2,3)

2

In [33]:
s='M N'
s.replace(' ','')

'MN'

In [30]:
s.replace(' ','')
s

'M N'

In [31]:
digits='123'
digits.isdigit()

True

In [34]:
s='Excelr6789'
s.isalnum()

True

In [35]:
s='Excelr67@89'
s.isalnum()

False

In [ ]:
pan_num=input("Enter your Pan no: ")
if (pan_num.isalnum() == True and len(pan_num)==10):
    print(f'Your entered pan number is {pan_num}')
else:
    print('You have entered a wrong format')

You have entered wrong panno

In [40]:
names='Alison,Robinson,Sherlock'
names.split(',')

['Alison', 'Robinson', 'Sherlock']

In [41]:
names.split(',',1)

['Alison', 'Robinson,Sherlock']

In [45]:
split_name=names.split(',')
split_name

['Alison', 'Robinson', 'Sherlock']

In [47]:
'|'.join(split_name)

'Alison|Robinson|Sherlock'

In [49]:
print("Hello\nWorld")

Hello
World

In [50]:
print(r'Hello\nWorld')

Hello\nWorld

In [51]:
print('Hello\sWorld')

Hello\sWorld

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\aksha\AppData\Local\Temp\ipykernel_24052\3112763835.py:1: SyntaxWarning: invalid escape sequence '\s'
  print('Hello\sWorld')

In [52]:
print('Hello\tWorld')

Hello	World

In [53]:
print(r'Helllo\tWorld')

Helllo\tWorld

In [54]:
f'Hello {names}'

'Hello Alison,Robinson,Sherlock'