In [1]:
s="Hello World!"
print(s[4])

o

In [2]:
print(s[11])

!

In [3]:
print(s[0])

H

In [4]:
print(s[-1])  #Negative Indexing

!

In [5]:
print(s[-6])

W

In [6]:
print(s[-8])

o

In [7]:
print(s[6:11])

World

In [8]:
print(s[0:5])

Hello

In [9]:
print("Hello Students "*2)

Hello Students Hello Students

In [10]:
var1="Python Programming"
print(var1[-5:-1]+' Abracadabra') #mmin is concatenated with the 'Abracadabra'

mmin Abracadabra

In [11]:
len(s)

12

In [12]:
txt="one one was a race horse, two two was one too"
txt.replace('one','three')

'three three was a race horse, two two was three too'

In [13]:
txt1="Hello, welcome to Python"
x=txt1.find("e")
x

1

In [14]:
txt="Company12"
txt.isalnum()

True

In [15]:
txt="Hello, my name is Akki, I am 30 years old"
txt.split(",")

['Hello', ' my name is Akki', ' I am 30 years old']

In [16]:
txt.split(",",maxsplit=1) #splits only one it will divide at first comma

['Hello', ' my name is Akki, I am 30 years old']

In [17]:
mytuple=("John","Peter","Vicky")
" ".join(mytuple)

'John Peter Vicky'

In [18]:
s='           aaa,bbb,ccc'
s.strip()

'aaa,bbb,ccc'

In [19]:
s='           aaa,bbb,ccc   '
s.rstrip()

'           aaa,bbb,ccc'

In [20]:
s='           aaa,bbb,ccc   '
s.lstrip()

'aaa,bbb,ccc   '

In [21]:
s='           aaa,bbb,ccc   '
s.strip()

'aaa,bbb,ccc'

In [22]:
s="I love Karnataka"
s.startswith('a')

False

In [23]:
s.startswith('I')

True

In [24]:
s.endswith('a')

True

In [25]:
s.endswith('A')

False

In [26]:
txt='Banana'
txt.center(80)

'                                     Banana                                     '

In [27]:
txt=' Banana '
txt.center(80,'*')

'************************************ Banana ************************************'

In [28]:
txt="I love apples,apples are my favourite fruit"
txt.count("apple")  #Counts the mentioned string in the given string

2

In [29]:
txt="I love apples,apples are my favourite fruit"
txt.count("apple",10,24)  #starts counting the string from mentioned position

1