In [1]:
tupl=("Nikanksha,12,34.7,True")
tupl

'Nikanksha,12,34.7,True'

In [2]:
t1=("Tuple",) #when you want to create a single tuple use comma after entering a single element so it will be considered tuple else it isnt
t1

('Tuple',)

In [3]:
t2="Nikanksha",12,34.7,True #Even though elements are outside () still considered as Tuple
t2

('Nikanksha', 12, 34.7, True)

In [4]:
type(t2)

tuple

In [5]:
len(t2)

4

In [6]:
tuples=("Apple","Banana","Cherry","Orange","Kiwi","Melon","Mango")
tuples

('Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Melon', 'Mango')

In [7]:
tuples[2:5]

('Cherry', 'Orange', 'Kiwi')

In [8]:
tuples[:4]

('Apple', 'Banana', 'Cherry', 'Orange')

In [9]:
tuples[2:]

('Cherry', 'Orange', 'Kiwi', 'Melon', 'Mango')

In [10]:
tuples[-4:-1] #here the item from index -4(included) to index (-1) which is excluded

('Orange', 'Kiwi', 'Melon')

In [11]:
if "Apple" in tuples:
    print("Yes exists")
else:
    print("Not there")

Yes exists

In [12]:
x=("Apple","Banana","Cherry") #Converting tuple to list bcos we can modify the tuple to list update item then convert back to tuple
y=list(x)
y[1]="Kiwi"

In [13]:
x=tuple(y)
print(x)

('Apple', 'Kiwi', 'Cherry')

In [14]:
x1=("Apple","Banana","Cherry")
y1=list(x1)
y1.append("Orange")
y1

['Apple', 'Banana', 'Cherry', 'Orange']

In [15]:
tup=tuple(y1)
tup

('Apple', 'Banana', 'Cherry', 'Orange')

In [16]:
x2=("Apple","Banana","Cherry")
y2=list(x2)
y2.append("Oranage")
tup1=tuple(y2)

In [17]:
tup1

('Apple', 'Banana', 'Cherry', 'Oranage')

In [18]:
tup2=("Apple","Banana","Cherry")
y=("Orange",) #Join 2 tuples
tup2 += y #Here original tuple is not modified instead new tuple is created.
print(tup2)

('Apple', 'Banana', 'Cherry', 'Orange')

In [19]:
fruits=("Apple","Banana","Cherry") #Packing means enabling all the elements into a single tuple
a,b,c=fruits #Unpacking. No of variables should match with the no of elements.
a

'Apple'

In [20]:
b

'Banana'

In [21]:
c

'Cherry'

In [22]:
for x in fruits: #Iterates through items and print values.
    print(x)

Apple
Banana
Cherry

In [23]:
for i in range(len(fruits)): #Loop through Index Numbers
    print(fruits[i])

Apple
Banana
Cherry

In [24]:
fruits=fruits*2 #Multiply tuples
fruits

('Apple', 'Banana', 'Cherry', 'Apple', 'Banana', 'Cherry')

In [25]:
#Tuple Methods 
#count
t3=(1,3,7,8,7,5,4,8,5)
t3.count(7)

2

In [26]:
t3.__len__()

9

In [27]:
t3.count(5)

2

In [28]:
#Index
t3.index(8)

3

In [29]:
t=tuple(sorted(t3)) #sorts ascending
t

(1, 3, 4, 5, 5, 7, 7, 8, 8)

In [30]:
t5=tuple(sorted(t3,reverse=True))
t5

(8, 8, 7, 7, 5, 5, 4, 3, 1)

In [31]:
#copy elements 44 and 55 from the following tuple into a new tuple
tuple1=(11,22,33,44,55,66)
list1=list(tuple1)
list1

[11, 22, 33, 44, 55, 66]

In [32]:
list1[3],list1[4]=list1[4],list1[3] #swap the index of 44 and 55
tuple1=tuple(list1)
tuple1

(11, 22, 33, 55, 44, 66)

In [33]:
tuple2=(11,22,33,44,55,66)
new_tup=(tuple2[3],tuple2[4])
new_tup

(44, 55)